/* 
desktop:1200px; // col-xl
laptop:992px;// col-lg
tablet:768px;// md
phone:480px; // sn 
*/

@font-face {
  font-family: "Valencia";
  src: url("src/assets/fonts/Valencia.ttf") format("truetype");
}

#welcome {
  display: flex;
  height: 100vh;
  margin-left: 20vh;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 480px) {
  #welcome {
    margin-left: 2vh;
  }
}

#icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.scroll-down {
  height: 50px;
  width: 30px;
  position: relative;
  left: -19.5vh;
  bottom: -40vh;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  /* left: 50%; */
  border: 2px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after {
  top: 30%;
  animation-delay: 0.3s;
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

#skillimg {
  transition: transform 0.7s ease-in-out;
}

#skillimg:hover {
  transform: rotate3d(0, 90, 0, 360deg);
}

a {
  height: 8vh;
  padding-bottom: 4vh;
}

.h1 {
  font-weight: 400;
  font-family: Valencia;
  font-size: 100px;
}

h1 {
  font-size: 40px;
  font-family: AvenirHeavy;
}

#me {
  font-size: 22px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-family: AvenirLight;
  max-width: 800px;
}

#about {
  /* color: rgb(238, 238, 238); */
  color: #f6f6f6;
  display: flex;
  min-height: 40vh;
  background-color: #302a18;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
}
@media screen and (max-width: 480px) {
  #about {
    min-height: 70vh;
  }
}

img {
  height: 5vh;
}

#Experience {
  margin-top: 15vh;
  margin-left: 5vh;
  margin-bottom: 15vh;
}

#tcs {
  height: 15vh;
}

#skills {
  display: flex;
  min-height: 80vh;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  max-width: 800px;
}
@media screen and (max-width: 480px) {
  #skills {
    min-height: 130vh;
  }
}

mat-chip {
  font-size: 2vh;
}

mat-card img {
  object-fit: cover;
  width: 10vh;
  height: 10vh;
}

a {
  text-decoration: none;
}

.list {
  width: auto;
  font-family: AvenirLight;
  font-weight: 400;
  margin: 2vh;
  margin-left: 5vh;
  font-size: 2vh;
}
@media screen and (max-width: 480px) {
  .list {
    margin-left: 1vh;
  }
  .scroll-down {
    height: 50px;
    width: 30px;
    position: relative;
    left: -25vh;
    bottom: -40vh;
    cursor: pointer;
  }
}

#contact {
  background-color: #302a18;
  color: #f6f6f6;
}

mat-form-field {
  margin-left: 2vh;
  align-items: center;
}

#end {
  color: #f6f6f6;
  display: flex;
  font-size: 25px;
  font-family: AvenirHeavy;
  line-height: 1.5;
  max-width: 80vh;
  padding-right: 25vh;
  padding-top: 5vh;
}
