<section>
	<div class="container-fuild">
		<div class="flex-container">
			<div class="row">
				<div class="col" id="welcome">
					<div class="row">
						<div class="text h1" id="name">
							Yaswanth Pasupuleti
						</div>
						<div class="text h2" id="title">
							Software Engineer / Front End Angular Developer
						</div>
					</div>
				</div>
				<div class="col" id="icons">
					<div class="d-none d-lg-block">
						<div class="row">
							<a href="https://github.com/yaswanthp1">
								<img [src]="git" alt="github">
							</a>
							<a href="https://www.linkedin.com/in/yaswanth-pasupuleti-129229166/">
								<img [src]="linkedin" alt="linkedin">
							</a>
							<a href="#">
								<img [src]="file" alt="filedownload">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fuild" id="about">
		<div class="row-12">
			<div>
				<h1 class="text" id="greet">Hi, I’m Yaswanth. Nice to meet you.</h1>
			</div>
			<div class="text" id="me">
				I’m a Junior Front-end developer who is passionate about Ul design and new technologies.
				Well-organised person, problem solver, and a fan of Anime.
				Currently, I’m focused on building Technology Knowledge and Carrer Development.
			</div>
			<div class="row mt-4" id="icons1">
				<div class="col" *ngFor="let item of list">
					<img [src]="item.ImageUrl" alt="i" id="skillimg">
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container" id="skills">
		<div class="row">
			<div class="text">
				<h1>Skills & Tools</h1>
			</div>
			<div class="list">
				<mat-chip-list>
					<mat-chip *ngFor="let item of skills">{{item}}</mat-chip>
				</mat-chip-list>
			</div>
			<div class="text mt-5">
				<h1>
					Licenses & Certifications
				</h1>
			</div>
			<div class="col mt-5">
				<mat-card>
					<mat-card-header>
						<mat-card-title>
							Microsoft Certified: Azure Fundamentals
						</mat-card-title>
						<img mat-card-avatar src="assets/img/azure-fundamentals-600x600.png" alt="Azure Fundamentals">
					</mat-card-header>
					<mat-card-content>
						Issued Nov 2021 - No Expiration Date
					</mat-card-content>
					<a
						href="https://www.credly.com/badges/d67c4fd7-d234-4141-9558-d9a37df5919f?source=linked_in_profile">
						<mat-chip>Show credential</mat-chip>
					</a>
				</mat-card>
			</div>
			<div class="col mt-5">
				<mat-card>
					<mat-card-header>
						<mat-card-title>
							Microsoft Certified: Azure Administrator
						</mat-card-title>
						<img mat-card-avater src="assets/img/azure-administrator-associate-600x600.png"
							alt="Azure Administrator Associate">
					</mat-card-header>
					<mat-card-content>
						Issued Dec 2021 - Expires Dec 2022
					</mat-card-content>
					<a
						href="https://www.credly.com/badges/de255db2-23be-437f-aa08-849a04e0f252?source=linked_in_profile">
						<mat-chip>Show credential</mat-chip>
					</a>
				</mat-card>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fuild" style="background-color: #000000d0;">
		<div class="row">
			<div class="text-center p-4" style="color: white;">
				<span>&#169; 2022 Copyright: Yaswanth Pasupuleti</span>
			</div>
		</div>
	</div>
</section>